.author {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.author img {
  width: 3em;
  margin: 5px;
  background: transparent;
  border: 2px black solid;
  border-radius: 50%;
}

.author span {
  margin: 5px;
}
