.comments {
  margin: 40px 0;
}

.history {
  display: flex;
  align-items: center;
}

.history > * {
  margin: 10px;
}

@media (max-width: 1000px) {
  .history > * {
    font-size: smaller;
  }
}

.authorBtn {
  color: rgb(95, 182, 216);
}

.authorBtn:hover {
  color: rgb(5, 123, 170);
  transform: translate3d(0, -2px, 0);
  cursor: pointer;
}

.message {
  color: red;
}

.comments form {
  margin: 40px 0;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.comments form textarea,
.comments form input {
  font-size: 0.9em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: transparent;
  margin-top: 15px;
  padding: 15px;
}

.comments form .textarea {
  height: auto;
}
.comments form .textarea textarea {
  width: 100%;
}

.comments form input:hover,
.comments form input:focus,
.comments form input:active {
  background: lightblue;
}
