.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
}

.lightText {
  color: #999;
}
