.filterForm {
  width: 20vw;
  position: fixed;
  left: 4em;
  line-height: 1.5em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  /* height: 80%; */
  width: 100%;
  margin: 0.4em;
  display: flex;
}

.title {
  margin: 5px;
  width: 5em;
}

.label input,
.label > div:nth-child(2) {
  border: 1px solid rgb(207, 206, 206);
  border-radius: 5px;
  font-size: 1em;
  flex: 1;
}

.label > div:nth-child(2) {
  border: none;
}

.btn {
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  background: transparent;
  text-decoration: none;
  color: inherit;
  padding: 0.3em 1em;
  margin: 0.4em;
  border: 1px solid lightblue;
  border-radius: 30px;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: lightblue;
  cursor: pointer;
  outline: none;
}
