.filterForm {
  width: 100%;
  line-height: 1.5em;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.label {
  height: 80%;
  margin: 10px;
  display: flex;
}

.title {
  margin: 5px;
}

.label input {
  border: 1px solid rgb(207, 206, 206);
  border-radius: 5px;
  font-size: 1em;
  width: 130px;
}

.btn,
.orangeBtn {
  font-size: 1.2em;
  font-family: inherit;
  line-height: inherit;
  background: transparent;
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid lightblue;
  border-radius: 30px;
}

.orangeBtn {
  border: 1px solid rgb(250, 162, 122);
}

.btn:hover,
.btn:focus,
.btn:active {
  background: lightblue;
  cursor: pointer;
}

.orangeBtn:hover,
.orangeBtn:focus,
.orangeBtn:active {
  background: rgb(250, 162, 122);
  cursor: pointer;
}
