.indexContainer {
  display: flex;
}

.btnTop button {
  background-color: rgba(0, 128, 128, 0.5);
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.btnTop button:hover {
  background-color: rgba(0, 128, 128, 0.3);
}

.filterContainer {
  flex: 1;
}

.cards {
  flex: 3;
}

@media (max-width: 1000px) {
  .indexContainer {
    flex-direction: column;
  }
}
