.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
}

.navbar span {
  margin: 10px;
}
.navbar span:nth-child(2) {
  color: rgb(182, 182, 182);
}
.btn {
  text-decoration: none;
  color: inherit;
  padding: 0.4em 0.8em;
  margin: 0.4em;
  border: 1px solid lightblue;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: lightblue;
}
